<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../scss_form/account_reg.css">
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
<nav class="navbar">
    <a href="login.html" class="link_button">Login</a>
    <a href="account-reg.html" class="link_button">Sign up</a>
</nav>

<main class="main">
    <form class="form">

        <h1>Registration</h1>
        <div>
            <label>
                <input id="firstName" placeholder="Enter firstName" required>
            </label>
        </div>
        <div>
            <label>
                <input id="lastName" placeholder="Enter lastName" required>
            </label>
        </div>
        <div>
            <label>
                <input id="login" placeholder="Enter login" required>
            </label>
        </div>
        <div>
            <label>
                <input id="password" type="password" placeholder="Enter password" required>
            </label>
        </div>
        <div>
            <label>
                <input  id="repeat-password" type="password" placeholder="Repeat password" required>
            </label>
        </div>

        <button class="submit-btn">Create account</button>

    </form>
    <a href="login.html" class="login_button">Already have an account? - Sign in!</a>
</main>


<script type="module" src="../scripts/account-reg.js"></script>
</body>
</html>
