<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../scss_form/account_form.css">
    <meta charset="UTF-8">
    <title>Account</title>
</head>
<body>
<nav class="navbar">
    <a href="#" class="link_button logout">Logout</a>
    <a href="account.html" class="link_button">Account</a>
</nav>
<main class="main">
    <form class="form">
        <img src="../image/logo.png" alt="site logo" class="logo">
        <h1>Your profile</h1>
        <div>
            <p>login: <span id="firstName"></span></p>
            <p>first name: <span id="lastName"></span></p>
            <p>last name: <span id="login"></span></p>
        </div>
        <a href="account-edit.html" class="edit_button">Edit account</a>
    </form>
</main>

<script type="module" src="../scripts/account.js"></script>
</body>
</html>
