<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../scss_form/account_edit.css">
    <meta charset="UTF-8">
    <title>Edit</title>
</head>
<body>

<nav class="navbar">
    <a href="#" class="link_button logout">Logout</a>
    <a href="account.html" class="link_button">Account</a>
</nav>
<main class="main">
    <div class="form">
        <h1>Edit account</h1>
        <div>
            <label>
                <input id="firstName" placeholder="Enter name">
            </label>
        </div>
        <div>
            <label>
                <input id="lastName" placeholder="Enter surname">
            </label>
        </div>
        <div>
            <label>
                <input id="password" placeholder="Enter password">
            </label>
        </div>
        <div>
            <label>
                <input id="repeat-password" placeholder="Repeat password">
            </label>
        </div>
            <button class="button submit-btn">Save</button>
    </div>
</main>

<script type="module" src="../scripts/account-edit.js"></script>
</body>
</html>
