<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../scss_form/login.css">
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<nav class="navbar">
    <a href="login.html" class="link_button">Login</a>
    <a href="account-reg.html" class="link_button">Sign up</a>
</nav>
<main class="main">

    <form class="form">
        <h1>Sign in</h1>
        <div>
            <label>
                <input id="login" placeholder="Enter login" required>
            </label>
            <label>
                <input id="password" type="password" placeholder="Enter password" required>
            </label>
            <button type="submit" class="submit-btn">Log in</button>

        </div>
    </form>
    <a href="account-reg.html" class="sign_button">Don't have an account? - Sign up!</a>
</main>


<script type="module" src="../scripts/login.js"></script>
</body>
</html>
